<md-toolbar layout="row" class="md-toolbar-tools">
    <!-- <md-button class="menu md-icon-button" ng-click="user.toggleList()" aria-label="Show User List">
        <md-icon md-svg-icon="menu" ></md-icon>
    </md-button> -->
    <!-- <h1 class="col-xs-3">Menu</h1> -->
    <h2 class="col-xs-4 text-center">Hi, {{name}}</h2>
    <div style="margin-top:1%;" layout="column" class="col-xs-4 col-xs-push-5" ng-click="user.toggleList()">
      <i class="fa fa-bell"></i>
      <div layout ="row">
        <p style="font-size:12px; margin-left:-5%">Notifications</p><div ng-show="notifications.length>0" style="font-size:12px; font-weight:bold; margin-left:-30%; margin-top:-15%" class="circle">{{notifications.length}}</div>
      </div>

    </div>

</md-toolbar>
